layout python

build() {
    set -x
    local tag=${1:-"lambda"}
    docker build --rm -t $tag .
    set +x
}; export_function build

run_api() {
    ./scripts/docker/run_api.sh $@
}; export_function run_api

run_ddb_local() {
    # TODO: use ./scripts/run_api.sh for this?
    docker run -d --rm \
               -p 8000:8000 \
               --name ddb_local \
               --entrypoint "" \
               peopleperhour/dynamodb:latest \
               /usr/bin/java -Djava.library.path=. -jar DynamoDBLocal.jar -port 8000 -inMemory
}; export_function run_ddb_local

dply() { zappa update; }; export_function dply

export FLASK_DEBUG=1
export PYTHONDONTWRITEBYTECODE=1

# this is for local debugging. deployed, should be port 80.
export TOKENINFO_URL='http://localhost:9090/auth'

export master_key='Authorization: Bearer master_key'
